body {
font-family: Arial, sans-serif;
background-color: #fff8f0;
color: #333;
text-align: center;
}


.navbar-logo {
height: 50px;        
width: auto;
object-fit: contain;
}

.mapa{
    margin-top: 100px;
    
}

footer {
  background-color: #f2e6d9;
  padding: 30px 10px;
  border-top: 2px solid #e0d0c0;
  font-size: 14px;
}
footer h5 {
  color: #6b4e3d;
  font-weight: bold;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  z-index: 999;
  transition: transform 0.3s ease;
  padding: 10px;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: #1ebd5a;
}

.whatsapp-float .whatsapp-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}